<h1>Quote of the day</h1>
{% if random_quote %}
    <p>{{ random_quote.quote }}</p>
{% else %}
    {% if error_message %}
        <p>{{ error_message </p>
    {% else %}
        <p>No quotes available</p>
    {% endif %}
{% endif %}

<h1> Submit new quote</h1>
<form action="{% url 'quotes:add' %}" method="post">
{% csrf_token %}
Quote:<br>
<input type="text" name="quote" value="quote">
<br>
<br>
<input type="submit" value="submit">
</form>